.skills {
  padding: 0 1rem;
  background-image: url(../images/sunset.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.skills pre {
  font-size: 1.1rem;
  max-width: 35rem;
  text-align: left;
  color: ghostwhite;
  padding: 1rem;
  margin: auto;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

footer {
  font-size: 0.8em;
  padding: 2rem 1em;
  text-align: center;
  color: ghostwhite;
}
